# Database
DATABASE_URL=postgresql://[YOUR-USER]:[YOUR-PASSWORD]@[YOUR-HOST]:5432/[YOUR-DATABASE]

# better-auth
BETTER_AUTH_SECRET=[YOUR-SECRET-KEY-AT-LEAST-32-CHARACTERS]
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Resend
RESEND_API_KEY=re_[YOUR-API-KEY]